html, body {
	margin:  0;
	padding:  0;
	--size:  25px;
	--light: #dedede;
	--dark: #202020;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	height:  100vh;
	width:  100vw;
}

.board {
	background-color: #aaa;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.box {
	width:  var(--size);
	height: var(--size);
	background-color: #909090;
	border-top: 2px solid var(--light);
	border-left: 2px solid var(--light);
	border-right: 2px solid var(--dark);
	border-bottom: 2px solid var(--dark);
}

.bomb {
	background-color: orange !important;
}