html, body {
	font-family: sans-serif;
	margin:  0;
	padding:  0;
	--size: 25px;
	--light: #dedede;
	--dark: #202020;
}

header {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #808080;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 60px);
	width: 100vw;
}

.board {
	border-spacing: 0px;
}

.board img {
	height: 15px;
	width: 20px;
}

.box {
	width:  var(--size);
	height: var(--size);
	text-align: center;
	vertical-align: middle;
	background-color: #909090;
	line-height: var(--size);
	font-size: 20px;
	border-top: 2px solid var(--light);
	border-left: 2px solid var(--light);
	border-right: 2px solid var(--dark);
	border-bottom: 2px solid var(--dark);
	cursor: pointer;
}

.box-opened {
	border: 2px solid #aaa;
	background-color: #ccc;
}

.box-opened.bomb {
	background-color: #404040;
}

.difficulty {
	border: none;
	outline: none;
	border-radius: 6px;
	height: 25px;
	width: 75px;
	background-color: #fcfcfc;
	cursor: pointer;
}

.difficulty:hover {
	background-color: #ccc;
}
